body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


.full-width{
  width: 300px;
  height: 600px;
}
.copy1{
  font-family: "ESKlarheitGrotesk Xbd";
  color: #0000aa;
  width: 100%;
  will-change: transform;
}
.line1, .line3{
  display: block;
  position: absolute;
  top: 63px;
  left: 23px;
  font-size: 32.2px;
  letter-spacing: -0.2px;
}
.line2{
  left: 19px;
  position: absolute;
  display: block;
  font-size: 76px;
  top: 97px;
  letter-spacing: -0.6px;
}
.line3{
  top: 181px;
}
.line3 sup{
  line-height: 0;
  font-size: 15px;
}
.copy2{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  top: 7px;
  left: 21px;
  font-size: 23.3px;
  line-height: 32px;
  color: #0000aa;
  letter-spacing: -0.1px;
  will-change: transform;

}
.copy2{
  line-height: 39.6px;
  font-size: 32px;
  top: 64px;
  left: 22px;
}
.last-frame{
  width: 100%;
  height: 600px;
  border-top: #ff6433 solid 10px;
  background-color: #fff;
  transform: translateY(589px);
  will-change: transform;
}
.copy3{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  top: 54.5px;
  left: 22px;
  font-size: 32.7px;
  line-height: 39.5px;
  color: #0000aa;
  letter-spacing: -0.5px;
}
.copy3 span{
  color: #ff6433;
}
#cta{
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff6433;
  display: inline-block;
  font-size: 15.5px;
  top: 197px;
  left: 24px;
  width: 126px;
  height: 42px;
  color: #fff;
  text-align: center;
  line-height: 41px;
  border-radius: 3px;
}

.term{
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  width: 100%;
  font-size: 11px;
  top: 446px;
  left: 25px;
}
#card1, #logo1{
  top: -10px;
}
#termlast{
  top: 436px;
}
/* Shine effect */
#shine {
  width: 300px;
  height: 600px;
  top: 3px;
  left: 10px;
  background-image: url(./images/shine.png);
  background-size: contain;
  background-position: -160px 175px;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 300px 600px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left;
  mask-image: url(./images/mask.png);
} 