body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}

.bannerSize {

  width: 160px;
  height: 600px;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


.full-width{
  width: 160px;
  height: 600px;
}
.copy1{
  width: 100%;
  font-family: "ESKlarheitGrotesk Xbd";
  top: 57px;
  font-size: 29px;
  line-height: 32px;
  color: #0000aa;
  letter-spacing: -0.1px;
  text-align: center;
}
.copy1 .line1, .copy1 .line2, .copy1 .line3{
  width: 100%;
}
.line1{
  line-height: 27px;
  top: 2.5px;
  font-size: 27px;
}
.line2{
  top: 68px;
  font-size: 46.2px;
  letter-spacing: -0.9px;
}
.line3 {
  top: 111px;
  left: -1px;
  letter-spacing: 0.1px;
  font-size: 29px;
}
.line3 sup {
    line-height: 0px;
    font-size: 16px;
}
.copy2{
  font-family: "ESKlarheitGrotesk Xbd";
  text-align: center;
  width: 100%;
  top: 57px;
  font-size: 27px;
  line-height: 33px;
  color: #0000aa;
  letter-spacing: -0.1px;
}
.last-frame{
  width: 100%;
  height: 600px;
  border-top: #ff6433 solid 11px;
  background-color: #fff;
  transform: translateY(588px);
}
.card1 {
  width: 140px;
  height: auto;
  top: 299px;
  left: 10px;
}
.copy3{
  font-family: "ESKlarheitGrotesk Xbd";
  text-align: center;
  width: 100%;
  top: 47.5px;
  font-size: 28px;
  line-height: 32.5px;
  color: #0000aa;
  letter-spacing: -0.6px;
}
.copy3 span{
  color: #ff6433;
}
#cta{
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff6433;
  display: inline-block;
  font-size: 13px;
  top: 216px;
  left: 27px;
  width: 106px;
  height: 36px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
}

.term{
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  width: 100%;
  font-size: 6.2px;
  top: 392px;
  left: 10px;
}
#card1, #logo1{
  top: -11px;
}
#termlast{
  top: 381px;
}

/* Shine effect */
#shine {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  background-image: url(./images/shine.png);
  background-size: contain;
  background-position: -100px 13px;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 160px 600px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
}