body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


.full-width{
  width: 300px;
  height: 250px;
}
.copy1{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  top: 7px;
  left: 21px;
  font-size: 23.3px;
  line-height: 32px;
  color: #0000aa;
  letter-spacing: -0.1px;
  will-change: transform;
}
.copy1 .line1, .copy1 .line2, .copy1 .line3{
  width: 100%;
}
.line2{
  top: 45.7px;
  font-size: 55px;
  left: -1px;
  letter-spacing: -0.8px;
}
.line3{
  top: 86.2px;
}
.line3 sup{
  line-height: 0;
  font-size: 12px;
}
.copy2{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  top: 9px;
  left: 21px;
  font-size: 23.3px;
  line-height: 28.8px;
  color: #0000aa;
  letter-spacing: -0.1px;
  will-change: transform;
}
.last-frame{
  width: 100%;
  height: 250px;
  border-top: #ff6433 solid 8px;
  background-color: #fff;
  transform: translateY(241px);
  will-change: transform;
}
.card1 {
  width: 140px;
  height: auto;
  top: 299px;
  left: 10px;
}
.copy3{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  top: 31px;
  left: 21px;
  font-size: 28px;
  line-height: 33px;
  color: #0000aa;
  letter-spacing: -0.5px;
}
.copy3 span{
  color: #ff6433;
}
#cta{
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff6433;
  display: inline-block;
  font-size: 13px;
  top: 124px;
  left: 23px;
  width: 106px;
  height: 36px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
}

.term{
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  width: 100%;
  font-size: 5.95px;
  top: 219px;
  left: 143px;
}

#card1, #logo1{
  top: -8px;
}
#termlast{
  top: 211px;
}

/* Shine effect */
#shine {
  width: 300px;
  height: 250px;
  background-image: url(./images/shine.png);
  background-size: contain;
  background-position: 160px 0px;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
}